.password {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 36px;
  min-height: 134px;
  width: 640px;
}

.password-1 {
  letter-spacing: 2.8px;
  line-height: normal;
  margin-top: -1px;
  min-height: 38px;
}

.frame-4-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 80px;
  display: flex;
  gap: 412px;
  height: 80px;
  min-width: 640px;
  padding: 0 32px;
}

.frame-7 {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 32px;
  min-width: 132px;
}

.icon-font-awesome-free-solideeye-slash {
  height: 32px;
  width: 32px;
  color: var(--tropical-blue);
  position: relative;
  left: 5px;
  top: 8px;
}

.password.password-2 {
  margin-top: unset;
}
